@import 'main';

.contact{
    &__header {
        padding: 0.0625rem 0;
        padding-bottom: 3rem;
        position: relative;
        width: 100%;
        z-index: 1;
        background-image: url(../img/contacts_header.jpg);
        background-size: cover;
        background-position: center;
    }
    &__title {
        margin-top: 7.5rem;
        color: #FFF;
    }
    &__block{
        padding: 5.625rem 0;
        height: 30rem;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 18.125rem;
    }
    &__subtitle{
        margin-top: 2.5rem;
        &:first-child{
            margin-top: 0;
        }
    }
    &__map{
        height: 100%;
        width: 60%;
        overflow: hidden;
        border-radius: 0.75rem;
    }
    &__text{
        margin-top: 1.125rem;
    }
    &__title-map{
        display: none;
        color: $blue-subtitle;
    }
}

#map{
    height: 30rem;
    width: 100%;
}
.footer {
    background-image: $grad;

    &__nav {
        border-top: none;
    }
}

@media (max-width: 1024px){
    .contact{
        &__title{
            margin-top: 4.5rem;
        }
        &__block{
            height: auto;
            padding: unset;
            margin-top: 4.875rem;
            margin-bottom: 1rem;
        }
        &__container{
            display: flex;
            align-items: flex-start;
        }
        &__subtitle{
            font-size: 0.875rem;
        }
        &__text{
            font-size: 0.875rem;
            margin-top: 0.625rem;
            &:nth-child(2){
                font-size: 1.5rem;
            }
        }
        &__map{
            width: 60%;
        }
        &__title-map{
            display: block;
        }
    }
}
@media (max-width: 768px){
    .contact{
        &__container{
            display: block;
        }
        &__map{
            margin-top: 5.5rem;
            width: 100%;
        }
    }
}