@import 'main';

.contact{
    &__header {
        padding: 0.0625rem 0;
        padding-bottom: 3rem;
        position: relative;
        width: 100%;
        z-index: 1;
        background-image: url(../img/contacts_header.jpg);
        background-size: cover;
        background-position: center;
    }
    &__title {
        margin-top: 7.5rem;
        color: #FFF;
    }
    &__block{
        padding: 5.625rem 0;
        height: 30rem;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 18.125rem;
    }
    &__subtitle{
        margin-top: 2.5rem;
        &:first-child{
            margin-top: 0;
        }
    }
    &__map{
        height: 100%;
        width: 60%;
        overflow: hidden;
        border-radius: 0.75rem;
    }
    &__text{
        margin-top: 1.125rem;
    }
}

#map{
    height: 30rem;
    width: 100%;
}
.footer {
    background-image: $grad;

    &__nav {
        border-top: none;
    }
}