@import 'main';

body{
    background-color: #F9F9F9;
}
.recipes {
    background-image: none;
    position: relative;
    display: block;
    left: 0;
    height: auto;

    &__block{
        margin-bottom: 6rem;
    }
    &__header {
        padding: 0.0625rem 0;
        padding-bottom: 3rem;
        position: relative;
        width: 100%;
        z-index: 1;
        background-image: url(../img/news_header.jpg);
        background-size: cover;
        background-position: center;
    }

    &__title {
        margin-top: 7.5rem;
        color: #FFF;
    }

    &__subtitle {
        margin: 3.875rem 0;
        background: $footer;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 1.375rem;
        width: 30%;
        border: 2px solid #8F9BB3;
        box-sizing: border-box;
        border-radius: 1rem;
        color: $dark-grey;
        margin-left: 5%;

        &:first-child{
            margin-left: 0;
        }
    }
    &__img{
        border-radius: 0.625rem;
        width: 100%;
    }
    &__name{
        color: $gen;
        margin: 2.25rem 0 1.625rem 0 ;
    }
    &__comment {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &>svg {
            height: auto;
        }
    }
    &__more{
        margin: 0 auto;
        margin-top: 4.625rem;
        @extend %button--small;
        text-transform: uppercase;
        border: 2px solid $dark-grey;
        width: 12.625rem;
        height: 3.25rem;
        box-shadow: none;

        &:hover{
            border: 2px solid $dark-grey;
        }
}
}

.footer {
    background-image: $grad;

    &__nav {
        border-top: none;
    }
}

@media (max-width: 1024px) {
    .recipes {
        margin-top: 0 !important;
        &__block{
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
        }
        &__subtitle{
            margin: 1.5rem 0;
        }
        &__more {
            display: none;
        }

        &__container {
            margin-top: 0px !important;

        }
        &__item{
            padding: 0.5rem;
            padding-bottom: 1.25rem;
            width: 200px;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        &__name{
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin: 1.125rem 0;
        }
        &__comment{
            display: block;
            
            &>svg{
            width: 1rem;
            height: 1rem;
            }
        }
        &__navigate{
            position: relative !important;
            bottom: unset !important;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 2.5rem;

                .owl-prev {
                    &:first-child {
                        display: none;
                    }
                }
                .owl-next {
                    &:last-child {
                        display: none;
                    }
                }
            &:last-child {
                margin-top: 2rem;
                .owl-prev {
                    display: none;
                    &:first-child {
                        display: block;
                    }
                }
                .owl-next {
                    display: none;
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}