<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <nav class="footer__nav">
                <img class="footer__logo" src="img/logo.png" alt="">
                <div class="footer__menu">
                    <a class="footer__menu-link" href="#">
                        Меню
                    </a>
                    <a class="footer__menu-link" href="contacts.html">
                        Точки продаж
                    </a>
                    <a class="footer__menu-link" href="#">
                        Комбинат
                    </a>
                    <a class="footer__menu-link" href="#">
                        Сотрудничество
                    </a>
                    <a class="footer__menu-link" href="news.html">
                        Новости
                    </a>
                    <a class="footer__menu-link" href="recipes.html">
                        Рецепты
                    </a>
                    <a class="footer__menu-link" href="#">
                        Контакты
                    </a>
                </div>
                <div class="footer__products">
                    <a href="products.html" class="footer__menu-link">
                        Продукция
                    </a>
                    <a href="#" class="footer__menu-link">
                        Детская продукция
                    </a>
                    <a href="#" class="footer__menu-link">
                        Молочная продукция
                    </a>
                    <a href="#" class="footer__menu-link">
                        Кисломолочная продукция
                    </a>
                    <a href="#" class="footer__menu-link">
                        Творожная продукция
                    </a>
                    <a href="#" class="footer__menu-link">
                        Десерты
                    </a>
                    <a href="#" class="footer__menu-link">
                        Весовая продукция
                    </a>
                </div>
                <div class="footer__contacts">
                    <a href="#" class="footer__phone">
                        8(800)5500190
                    </a>
                    <div class="footer__social">
                        <a class="footer__link" href="#">
                            <img class="footer__img" src="img/icons/facebook.svg" alt="">
                        </a>
                        <a class="footer__link" href="#">
                            <img class="footer__img" src="img/icons/instagram.svg" href="#" alt="">
                        </a>
                        <a class="footer__link" href="#">
                            <img class="footer__img" src="img/icons/vk.svg" href="#" alt="">
                        </a>
                    </div>
                </div>
            </nav>
            <div class="footer__copyrights">
                <span class="footer__holder">
                    © 2020 ООО «Комбинат Детского Питания»
                </span>
                <span class="footer__development">Разработка сайта: <span class="footer__company">ASAP</span></span>
            </div>
        </div>
    </div>
</footer>