<header class="header">
    <a href="/" class="logo">
        <img src="img/logo.png" alt="">
    </a>
    <nav class="nav">
        <a class="nav__link" href="products.html">продукция</a>
        <a class="nav__link" href="news.html">новости</a>
        <a class="nav__link" href="#">О нас</a>
        <a class="nav__link" href="#">сотрудничество</a>
        <a class="nav__link" href="contacts.html">контакты</a>
    </nav>
    <a class="header__phone" href="tel:8 (800) 5500190">8 (800) 5500190</a>
</header>